#canvasLayer {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
}

#grid-container {
  display: grid;
  grid-template:
    'header header header header header'
    'buttons result result result result'
    'preview result result result result';
  grid-template-rows: 1fr 1fr 4fr;
  grid-gap: 25px;
  padding: 25px;
}
.grid-item {
  border-radius: 5px;
  border: 2px solid green;
  background-color: mintcream;
  padding: 10px;
  max-height: 30vw;
  max-width: 100vw;
}
.image-in-grid-card {
  max-height: 30vw;
  max-width: 40vw;
  object-fit: contain;
  margin: auto;
  display: block;
}

#header-area {
  grid-area: header;
  text-align: center;
  font-size: xxx-large;
  text-shadow: 2px 2px 2px green;
  max-height: 180px;
}
#header-area img{
  max-height: 80px;
  object-fit: contain;
}

.button {
  border: 3px solid green;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 5px;
  width: 10vw;
  height: 7vw;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: medium;
}

#button-area {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4vw;
  grid-area: buttons;
}

#preview-area {
  grid-area: preview;

}

#bounding-box-view {
  grid-area: result;
  position: relative;
}




