<div id="grid-container">
  <div id="header-area">
    <img src="assets/logo.png" alt="LOGO"/>
    <a>We find garbage</a>
  </div>

  <div id="button-area" class="grid-item">
    <input style="display: none" type="file" (change)="onSelectFile($event)" #fileSelection>
    <button (click)="fileSelection.click()" class="button">Upload image</button>
    <form [formGroup]="addressForm">
      <select id="server-address" formControlName="address">
        <ng-container *ngFor="let address of addressList">
          <option [value]="address">{{address}}</option>
        </ng-container>
      </select>
    </form>
    <button (click)="showImage()" class="button">Find dumpster</button>
  </div>

  <div *ngIf="isImageSelected" id="preview-area" class="grid-item">
    <img src="{{image.src}}" alt="image-preview" id="image-preview" class="image-in-grid-card"/>
  </div>

  <div id="bounding-box-view" class="grid-item">
    <img *ngIf="layerCanvasElement == null"
         src="assets/image-mock.png"
         alt="image-mock"
         id="image-mock"
         class="image-in-grid-card"
    />
    <canvas id="canvasLayer" class="image-in-grid-card" #canvasLayer></canvas>
  </div>
</div>
